:root {
    font-size: 14px;
    --ff-all: "Raleway", sans-serif;
    /* prim-color for gradient */
    --clr-prim-grad1: hsl(6, 100%, 80%);
    --clr-prim-grad2: hsl(335, 100%, 65%);
    /* nuetral colors */
    --clr-nue-pb: hsl(243, 100%, 93%);
    --clr-nue-gb: hsl(229, 7%, 55%);
    --clr-nue-db: hsl(228, 56%, 26%);
    --clr-nue-vdb: hsl(229, 57%, 11%);
    /* other colors */
    --clr-other: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-all);
    background: url(./images/bg-mobile.png);
    background-size: cover;
}

/* =======================
    =======Layout ======== */

.container {
    margin: 8rem auto;
    width: 85%;
}

.card {
    padding: 2.5em 2em;
    background-color: var(--clr-nue-db);
    margin-bottom: 1.5em;
    border-radius: 1em 8em 1em 1em;
    box-shadow: 0 0 .1em var(--clr-nue-db);
}

.action__logo {
    margin-bottom: 2em;
}

.action__icons {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    width: 28%;
    padding: 1em;
    background: var(--clr-nue-vdb);
    border-radius: .7em;
}

.icon {
    width: 100%;
    margin: auto;
}

.storage-status {
    border-top-right-radius: 1em;
    position: relative;
}

.bar-container {
    margin-bottom: .3em;
    height: 1.3rem;
    border-radius: 1em;
    padding: .15em;
    background: var(--clr-nue-vdb);
}

.bar {
    width: 80%;
    height: 100%;
    padding: .15em;
    border-radius: 1em;
    background: linear-gradient(to right, var(--clr-prim-grad1), var(--clr-prim-grad2));
    display: flex;
    justify-content: flex-end;
}

.bar-circle {
    min-width: 1em;
    height: 100%;
    border-radius: 100%;
    background: var(--clr-other);
}

.bar-range {
    display: flex;
    justify-content: space-between;
}

.storage-left {
    width: 40%;
    text-align: center;
    padding: .5em;
    border-radius: .3em;
    background: var(--clr-other);
    position: absolute;
    bottom: -35%;
    left: 30%;
}

/* =======================
    =======Typography ======== */

.storage-status p {
    margin-bottom: 1em;
}

.storage-used {
    color: var(--clr-other);
    text-align: center;
}

.storage-used span, .bar-range {
    color: var(--clr-nue-pb);
    font-weight: 700;
}

.bar-range {
    font-size: .8rem;
}

.storage-left {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    color: var(--clr-nue-vdb);
}

.storage-left span {
    color: var(--clr-nue-gb);
    font-size: .8rem;
}

@media (min-width: 768px) {
    body {
        background: var(--clr-nue-vdb) url(./images/bg-desktop.png) no-repeat 0 25rem;
        background-size: contain;
    }
    .action__icons {
        justify-content: flex-start;
        gap: 1em;
        width: 40%;
    }
    .wrapper {
        width: 20%;
    }
}

@media (min-width: 1024px) {
    body {
        background: var(--clr-nue-vdb) url(./images/bg-desktop.png) no-repeat 0 20rem;
        background-size: contain;
    }
    .container {
        margin-top: 0;
        width: 75%;
        transform: translate(0, 90%);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 2em;
    }
    .card {
        padding: 2.5em 2.5em;
    }
    .action {
        width: 38%;
        height: 100%;
    }
    .action__icons {
        width: 80%;
    }
    .wrapper {
        width: 30%;
    }
    .storage-status {
        width: 62%;
    }
    .storage-used {
        font-size: .9rem;
        text-align: left;
    }
    .bar-range {
        font-size: 1rem;
    }
    .storage-left {
        width: 32%;
        padding: .4em;
        bottom: 70%;
        left: 60%;
        font-size: 2rem;
        text-align: center;
    }
    .storage-left span {
        font-size: .7rem;
    }
    .storage-left::after {
        content: "";
        position: absolute;
        left: 74%;
        display: block;
        transform: rotate(-90deg);
        border-top: none;
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
        border-bottom: 1.5rem solid var(--clr-other);
    }
}

@media (min-width: 1366px) {
    body {
        background: var(--clr-nue-vdb) url(./images/bg-desktop.png) no-repeat 0 20rem;
        background-size: cover;
    }
    .container {
        width: 70%;
        transform: translate(0, 90%);
    }
    .action {
        width: 35%;
    }
    .action__icons {
        width: 60%;
    }
    .wrapper {
        width: 30%;
    }
    .storage-used {
        font-size: 1rem;
    }
    .storage-left {
        width: 25%;
        left: 70%;
        bottom: 60%;
        font-size: 2.5rem;
        padding: .2em;
    }
    .storage-left::after {
        left: 74%;
        bottom: 2%;
    }
}

@media (min-width: 1440px) {
    body {
        background: var(--clr-nue-vdb) url(./images/bg-desktop.png) no-repeat 0 25rem;
        background-size: cover;
    }
    .container {
        transform: translate(0, 110%);
    }
}